################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/acity/v17
/.vs
/src/Acity.Biblioteca.Api/bin
/src/Acity.Biblioteca.Api/obj
/src/Acity.Biblioteca.Application/bin
/src/Acity.Biblioteca.Application/obj
/src/Acity.Biblioteca.Common/bin
/src/Acity.Biblioteca.Common/obj
/src/Acity.Biblioteca.Domain/bin
/src/Acity.Biblioteca.Domain/obj
/src/Acity.Biblioteca.External/bin
/src/Acity.Biblioteca.External/obj
/src/Acity.Biblioteca.Persistence/bin
/src/Acity.Biblioteca.Persistence/obj
